body {
	height: 100%;


}

#leftbanner {
	height: 100%;
	display: inline-block;
	width: 250px;
	float: left;
	background-color: darkorange;
	

}

#content {
	display: inline-block;
	width: 800px;
	float: right;
}

#bannerimage {
	height: 40%;
	width: 40%;

}
